version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_service
    ports:
      - "3001:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/dockerdb
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo_service
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo_ui
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo

volumes:
  mongo_data:
